# Editors.
*.sw*
.vscode
.DS_Store

# Build directory.
build/
out/
cmake-build-*/

.cproject

.project

.settings/


### IntelliJ IDEA ###
.idea
#*.iws
#*.iml
#*.ipr

generated/Sysy.interp
generated/Sysy.tokens
generated/SysyBaseListener.cpp
generated/SysyBaseListener.h
generated/SysyBaseVisitor.cpp
generated/SysyBaseVisitor.h
generated/SysyLexer.cpp
generated/SysyLexer.h
generated/SysyLexer.interp
generated/SysyLexer.tokens
generated/SysyListener.cpp
generated/SysyListener.h
generated/SysyParser.cpp
generated/SysyParser.h
generated/SysyVisitor.cpp
generated/SysyVisitor.h